doctype strict
html 
  head
    block title

    link(
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reveal.js@4.3.0/dist/reveal.css"
    )

    block theme

    style
      include internation.css

  body
    block content
      .reveal
        .menubar#menubar
          block menubar
        .slides
          block slides

    //- Load reveal.js
    block revealJs
      script(src="https://cdn.jsdelivr.net/npm/headjs@1.0.3/dist/1.0.0/head.min.js")
      script(src="https://cdn.jsdelivr.net/npm/reveal.js@4.3.0/dist/reveal.js")
      script(src="https://cdn.jsdelivr.net/npm/reveal.js@4.3.0/plugin/highlight/highlight.js")
      script
        include loadrevealjs.js
      block revealConfig

    //- i18n config
    script
      include /node_modules/reveal.js-internation/plugin/internation/internation.js
    mixin internation(internationConfig)
      script.
        Reveal.configure({
          internation: !{JSON.stringify(internationConfig)}
        })
        Reveal.registerPlugin(Internation)
    block internationConfig
