extends default.pug

block theme
  link(
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/reveal.js@4.3.0/dist/theme/white.css"
  )

  //- Theme used for syntax highlighting of code
  link(
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/highlight.js@11.0.1/styles/vs2015.css"
  )
