<section id="cover">
  <div class="sl-block" data-block-type="text" style="width: 806px; left: 237px; top: 262px; height: auto;">
    <div class="sl-block-content" style="z-index: 10;">
      <h1 data-i18n="title">Raytracing 101</h1>
    </div>
  </div>
  <div class="sl-block" data-block-type="text" data-name="text-5ce3a6"
    style="height: auto; width: 703px; left: 288.5px; top: 366.5px;">
    <div class="sl-block-content" style="z-index: 11;">
      <p data-i18n="subtitle">A quick introduction to APIs and applications</p>
    </div>
  </div>
</section>
